<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapture</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="styledheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/sitio.css' %}"/>
    <link href="https://www.dafont.com/andes.font" rel="stylesheet"/>
</head>
<body>
<header>
<div class="page-header">
    <div class="titulo">
        <h2>Rapture</h2>
    </div>
    <div  class="enlaces">
        <div class="funcionalidades">
            <a href="{% url 'information' %}" class="top-menu">Inicio</a>
            <a href="{% url 'torneos' %}" class="top-menu">Torneos</a>
            <a href="{% url 'tienda' %}" class="top-menu">Tienda</a>

        </div>
        <div class="cli">
            <a href="{% url 'registro' %}" class="top-menu">Unirse</a>
            <a href="{% url 'login' %}" class="top-menu" id="cliente">Iniciar Sesión</a>
        </div>
    </div>
</div>
</header>

<div id=noticias class="information">
    {% block content %}
    {% endblock %}
</div>

<div class="fondo">

    <hr/>
    <div class="piePagina">
        <div class="seccion">
            <h3>Conócenos</h3>
            <a href="https://youtu.be/dQw4w9WgXcQ">Trabaja con nosotros</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Folletos</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Encuentra tu tienda</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Socios</a>
        </div>

        <div class="seccion">
            <h3>Atención al cliente</h3>
            <a href="https://youtu.be/dQw4w9WgXcQ">Compras</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Envíos</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Quejas y sugerencias</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Facturación y servicio técnico</a>
        </div>

        <div class="seccion">
            <h3>Síguenos</h3>
            <a href="https://youtu.be/dQw4w9WgXcQ">Twitter</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">YouTube</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Instagram</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Facebook</a>
        </div>

        <div class="seccion">
            <h3>Métodos de pago</h3>
            <a href="https://youtu.be/dQw4w9WgXcQ">Efectivo</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Tarjeta</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Transferencia</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Águilas de plata</a>
        </div>

        <div class="seccion">
            <h3>Legal</h3>
            <a href="https://youtu.be/dQw4w9WgXcQ">Condiciones de venta</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Información legal</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Política de privacidad</a>
            <a href="https://youtu.be/dQw4w9WgXcQ">Cookies</a>
        </div>

    </div>
</div>

</body>
</html>