<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapture</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="styledheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/sitio.css' %}"/>
    <link href="https://www.dafont.com/andes.font" rel="stylesheet"/>
</head>
<body>
<div class="page-header">
    <h2>Rapture</h2>
    <div  class="enlaces">
        <a href="{% url 'information' %}" class="top-menu">Inicio</a>
        <a href="{% url 'torneos' %}" class="top-menu">Torneos</a>
        <a href="{% url 'torneos' %}" class="top-menu">Tienda</a>
        <a href="{% url 'cliente_new' %}" class="top-menu">Regístrate</a>
    </div>
</div>

<div id=noticias class="information">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>